#global-header {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding-bottom: var(--spacing-3);
    margin-bottom: var(--spacing-12);
    border-bottom: solid 2px var(--color-heading);
  }
  
  #main-logo {
    max-height: var(--spacing-10);
    transition: 0.2s;
    cursor: pointer;
  }
  
  #main-heading {
    font-size: var(--fontSize-7);
    margin: 0 0 0 var(--spacing-3);
  }
  
  #main-nav {
    align-self: flex-end;
    display: table;
    margin: 0 0 0 auto;
    list-style-type: none;
    font-size: var(--fontSize-2);
    font-family: var(--font-heading);
    font-weight: var(--fontWeight-medium);
  }
  
  #main-nav li {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: var(--spacing-6);
  }
  
  #main-nav a {
    text-decoration: none;
    color: var(--color-heading);
  }
  
  #main-nav a:hover {
    text-decoration: underline;
  }

  #search-icon {
    align-self: flex-end;
    margin-left: var(--spacing-6);
  }

  /* scrollTop */
  #global-header.scrolled {
    height: var(--spacing-12);
    margin-bottom: var(--spacing-6);
  }

  #main-heading.scrolled {
    max-height: var(--spacing-8);
    visibility: hidden;
  }

  #main-logo.scrolled {
    max-height: var(--spacing-8);
    margin-top: var(--spacing-3);
  }