#global-header {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #fff;
    padding: var(--spacing-3) var(--spacing-4);
    margin-bottom: var(--spacing-12);
    border-bottom: solid 1px var(--color-heading);
    background-color: var(--color-background);
    transition: background-color 0.2s ease;
    z-index: 100;
  }
  
  #main-logo {
    max-height: var(--spacing-8);
    cursor: pointer;
  }
  
  #main-heading {
    font-size: var(--fontSize-5);
    margin: 0 0 0 var(--spacing-4);
    line-height: var(--lineHeight-none);
  }

  .tagline-wrapper {
    margin-left: var(--spacing-6);
    border-left: 1px solid #000;
  }

  .tagline {
    margin: 0;
    padding: 6px 0 0 0;
    margin: 0 0 0 var(--spacing-4);
  }

  #main-nav {
    display: table;
    margin: 0 0 0 auto;
    list-style-type: none;
    font-size: var(--fontSize-2);
    font-family: var(--font-heading);
    font-weight: var(--fontWeight-medium);
  }
  
  #main-nav li {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: var(--spacing-6);
  }
  
  #main-nav a {
    text-decoration: none;
    color: var(--color-heading);
  }
  
  #main-nav a:hover {
    text-decoration: underline;
  }

  /* scrollTop */
  #global-header.scrolled {
    height: var(--spacing-12);
    margin-bottom: var(--spacing-6);
  }

  #main-heading.scrolled {
    max-height: var(--spacing-8);
    visibility: hidden;
  }

  #main-logo.scrolled {
    max-height: var(--spacing-8);
    margin-top: var(--spacing-3);
  }